<a id="navToggle" class="left-off-canvas-toggle" href="javascript:void(1);"><i class="fi-list"></i></a>
<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label>Contents</label></li>
        <li><a ui-sref='home' ui-sref-active='active'>Introduction</a></li>
	<li><a ui-sref='generatorPrompts' ui-sref-active='active'>Generator Prompts</a></li>
	<li><a ui-sref='folderStructure' ui-sref-active='active'>Folder Structure</a></li>
	<li><a ui-sref='themeConfigFile' ui-sref-active='active'>Theme Config File</a></li>
	<li><label>Links</label></li>
	<li><a href='https://github.com/MuhammadReda/generator-modern-theme'>Github Rrepository</a></li>
	<li><a href='https://github.com/MuhammadReda/generator-modern-theme/tree/docs/app/md-content'>Improve Documentation</a></li>
    </ul>
</aside>
