<div class="md-generated">
    <h3 id="introduction">Introduction</h3>
<p>A <a href="http://yeoman.io/">Yeoman</a> generator to speed up the process of creating HTML themes
that make use of popular <a href="http://gruntjs.com/">Grunt</a> plugins.</p>
<p>Using this generator, you can minify your theme&#39;s javascript &amp; CSS files,
watch for file changes and few things more without even touching Gruntfile.js.</p>
<h3 id="features">Features</h3>
<ul>
<li>Automatically concatenate and minify JavaScript files.</li>
<li>Automatically concatenate and minify CSS files.</li>
<li>Automatically compile SASS files.</li>
<li>Image optimization (Optional).</li>
<li>Foundation for SASS (Optional).</li>
</ul>
<h3 id="getting-started">Getting started</h3>
<ul>
<li>Make sure that you have <code>yo</code> installed globally. <code>npm install -g yo</code></li>
<li>Install generator-modern-theme. <code>npm install -g generator-modern-theme</code></li>
<li>To start using the generator, run <code>yo modern-theme</code></li>
</ul>
<hr>
<p><a href="https://github.com/MuhammadReda/generator-modern-theme/tree/docs/app/md-content/home.md">Improve this document.</a></p>

</div>
